<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Frequency of each day</title>
</head>

<body>
    <table>
<!--         {% for k, v in avg_tweets.items() %}
			
        {% endfor %}
 -->
        {% for k, v in avg_tweets.items() %}
        <tr>
            <td>key: {{ k }}</td>
            {% for k2, v2 in v.items() %}
            <tr>
                <td>{{ k2 }}</td>
                <td>{{ v2 }}</td>
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>
